body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: #fff;
  font-family: "Source Sans Pro", sans-serif;
}

.navbar-content {
  margin: 0;
  padding: 0 30px;
  position: fixed;
  overflow: hidden;
  background-color: rgb(247, 242, 242, 0.9);
  top: 0;
  width: 100vw;
  font-size: 18px;
  z-index: 2;
  -webkit-box-shadow: 0px 30px 5px 2px rgba(247, 242, 242, 0.79);
  -moz-box-shadow: 0px 30px 5px 2px rgba(247, 242, 242, 0.79);
  box-shadow: 0px 30px 10px 2px rgba(247, 242, 242, 0.7);
}

.navbar-content div {
  padding-right: 20px;
}

.navbar-content div a {
  color: #888888;
}

.navbar-content div a:hover {
  color: #fb6933;
}

.img-face {
  border: 1px solid black;
  border-radius: 50%;
  height: 50px;
}

.graffiti {
  position: absolute;
  overflow: hidden;
  /* width: 800px; */
  z-index: 3;
}

.graffiti img {
  transform: rotate(-30deg) scale(1.3);
  left: -400px;
  position: relative;
  height: 100vh;
  width: 100%;
  -webkit-box-shadow: 2px 2px 12px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 2px 12px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 2px 12px 0px rgba(0, 0, 0, 0.75);
}

.intro-content {
  height: 100vh;
}

.intro-content div {
  text-align: left;
  margin-right: 200px;
  width: 450px;
}

.intro-content div:last-child {
  font-weight: 900;
  font-size: 16px;
  padding: 0;
  margin-top: 50px;
}

button:focus {
  outline: 0;
}


.hashtag-content {
  height: 100vh;
  padding-top: 80px;
}

.hashtag-row {
  padding-right: 50px;
  padding-left: 50px;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.hashtag {
  background-color: #f2f2f2;
  padding: 10px 10px;
  margin: 5px 20px;
  display: block;
  border: 0px;
  border-radius: 30px;
  font-size: 20px;
  -webkit-box-shadow: 2px 2px 12px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 2px 2px 12px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 12px 0px rgba(0, 0, 0, 0.2);
}

.hashtag:hover {
  background-color: lightgray;
}

.hashtag div svg {
  margin-right: 10px;
}

[data-status="active"] {
  background-color: #fc7d11;
}

[data-status="inactive"] {
  background-color: #f2f2f2;
}

.carousel {
  padding-top: 50px;
}

.carousel-inner {
  -webkit-box-shadow: 2px 2px 12px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 2px 2px 12px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 12px 0px rgba(0, 0, 0, 0.9);
  border-radius: 30px;
  max-width: 700px !important;
  max-height: 450px !important;
}

.fas {
  font-size: 75px;
}

.page-one {
  position: relative;
}

.page-one-div {
  width: 100%;
  text-align: center;
  background-color: #1cea8b;
  color: #121212;
  font-size: 30px;
  position: absolute;
  bottom: 0px;
}

.page-two {
  max-width: 700px !important;
  height: 450px !important;
  font-size: 40px;
  background-color: #1cea8b;
  color: #121212;
  font-weight: 500;
  text-align: center;
}

.page-two div:first-child{
  font-size: 18px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.page-two-content {
  margin: 0 75px;
  height: 100%;
}

.page-two-tags {
  width: 100%;
  font-size: 20px;
}

.page-two-tags a {
  border: 1px solid #f2f2f2;
  padding: 5px 20px;
  margin: 10px 30px;
  border-radius: 25px;
  -webkit-box-shadow: 2px 2px 12px 0px rgba(0, 0, 0, 0.9);
  -moz-box-shadow: 2px 2px 12px 0px rgba(0, 0, 0, 0.9);
  box-shadow: 2px 2px 12px 0px rgba(0, 0, 0, 0.9);
  background-color: #f2f2f2;
  color: #121212
}

.page-two-tags a:hover {
  background-color: lightgray;

}

.page-three {
  height: 450px !important;
  background-color: #1cea8b
}
